<div class="stepBox">
<mat-stepper orientation="vertical">
    <mat-step>
        <a  [routerLink]="['/basicInfo']">
            <ng-template matStepLabel>Edit Basic Info</ng-template>
        </a>
    </mat-step>
    <mat-step>
        <a  [routerLink]="['/addMember']">
            <ng-template matStepLabel>Add/Edit Family Members</ng-template>
        </a>
    </mat-step>
    <mat-step>
        <a [routerLink]="['/addProvider']">
            <ng-template matStepLabel>Add/Edit Provider</ng-template>
        </a>
    </mat-step>
    <mat-step>
        <a [routerLink]="['/addRx']">
            <ng-template matStepLabel>Add/Edit RX</ng-template>
        </a>
    </mat-step>
</mat-stepper>
</div>
