<div class="stepBox">
<mat-stepper orientation="vertical">
    <mat-step>
        <ng-template matStepLabel>
            <button [routerLink]="['/basicInfo']">
                Edit Basic Info
            </button>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>
            <button [routerLink]="['/addMember']">
                Add/Edit Family Members
            </button>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>
            <button [routerLink]="['/addProvider']">
                Add/Edit Provider
            </button>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>
            <button [routerLink]="['/addRx']">
                Add/Edit RX
            </button>
        </ng-template>
    </mat-step>
</mat-stepper>
</div>
