#masterContainer {
    background-color: aqua;
    color: black;
    min-width: 100vw;
    min-height: 100vh;

    display: grid;

    grid-template-rows: 2em 90% 1em;

    grid-template-areas:
    "bannerBox"
    "displayBox" 
    "footerBox";
}