.routerContainer {
    display: grid;
    grid-template-rows: auto;
    color: #660330;
}

.routerBoxHead {
    background-color: #660330;
    color: whitesmoke;
}

.routerBox{
    margin: 0 0 0 0;
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center
}

.formBox {
    min-height: 100%;
}

.listBox {
    min-height: max-content;
    border-left: 2em solid #660330;
}

ul, li {
color:black;
}